.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 4.93rem;
}

@media screen and (min-width: 992px) {
  .container {
    margin-top: 5.45rem;
  }
}
